body {
    background-color: #CCD5AE; 
    font-family: 'Arial', Helvetica, sans-serif; 
}

h1{
    background-color: #FEFAE0;
    border-radius: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 13px 15px; /*Margem interna do título*/ 
    width: fit-content; /*fit-content deixa o background somente onde está a scrita, sem ultrapassar*/
    margin: 25px auto;  /*o auto centraliza*/
    font-size: 1.8rem;
}

.caixa-tudo {
    background-color: #E9EDC9;
    text-align: center;
    padding: 15px 20px;
    border-radius: 50px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.1rem;
    margin: 10px 0 5px;
}

.linha1,
.linha2 {
    display: flex; /*permite maior autonomia para movimentar os itens*/
    justify-content: center;  /*deixa os exercícios de cada linha lado a lado na horiontal*/
    gap: 15px;  /*espaço entre as caixinhas*/
    margin-bottom: 15px;
}

.ex1, .ex2, .ex3, .ex4 {
    background-color: #FEFAE0;
    width: 100%;
    max-width: 400px;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transition: 0.2s, box-shadow 0.2s; /*O transition faz com que a mudança aconteça aos poucos, em vez de de forma instantânea. A box shadow é a propriedade que está sendo alterada e o tempo é 0.2s*/
}

.ex1:hover, .ex2:hover, .ex3:hover, .ex4:hover {
    transform: translateY(-5px); /*o transform movimenta e aumenta ou diminui o elemento. o translate move ele verticalmente(y) e o transition faz com que esse movimento fique suave*/
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

 
input {
    background-color: #FAEDCD;
    width: 80%;
    padding: 10px 12px;
    margin: 5px 0 15px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    font-size: 1rem;
    transition: all 0.2s /*o all aplica a trnasição em tudo*/;
}


button {
    background-color: #A3B18A;
    color: #FAEDCD;
    font-size: 1.1rem;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #92A885;
    transform: translateY(-2px);
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

